
/* Classe de uso geral 
.msg_ok { padding-top: 7px; margin-top: 20px; border-color: #56ff1f; border-width: 1px; padding-left: 10%; margin-left: 10%; background-color: #cfffe1; width: 900px; height: 30px; font-size: 15px; font-family: Tahoma; text-align: left; }
.botao { width:90px; font-size:16px; font-family: Tahoma; background-color: #d83135; border: none; color: #FFF; text-align:center; cursor: pointer; }
*/

.submenu { display: none;list-style-type:none;  background-color: #4d4d4d; height: 80px;}



/* NAVIGATION */

.nav-item1 {
	
	height: 60px;
	float: left;
	margin-left: 8px;
	margin-top: 8px;
}
.nav-item1 a {
	display: block;
	width: 80px;
	height: 60px;
	color: #999999;
}
.nav-item1 p {font-size: 11px; font-weight: 600; text-align: center;}
.nav-item1 img {
	width: 30px;
	height: 30px;
	padding: 8px 25px 4px;
}
.nav-item1:hover, #user-panel2 {
	background: url(../img/nav/nav-hover.png);
	border-radius: 3px;
	box-shadow: inset 0px 0px 1px 0px #000;
}